body {
    margin: 0px;
    padding: 0px;
    background-image: url(../img/bg-img.avif);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 130px;
}
.container-content {
    width: 350px;

}

.container-img img {
    width: 400px;
    border-radius: 100%;
    box-shadow: 0 20px 25px;
}

p, h1, h2 {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein  {
    from{
        margin-top: 100%;
        width: 400PX;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}
.button {
    width: 100px;
    height: 40px;   
    border: none;
    border-radius: 50px;
    background-color: black;
    color: tomato;
    font-size: 15px;
    box-shadow: 0 10px 25px;
    margin-top: 15px;
}
.button:hover {
    width: 100px;
    height: 40px;   
    border: none;
    border-radius: 50px;
    background-color:tomato;
    color: black;
    font-size: 15px;
    box-shadow: 0 10px 25px;
}

h1 {
    font: size 34px;
    }

    p{
        font-size: 18px;
    }

.logo {
    width: 35px;
    margin: 5px;
    }

    a {
        text-decoration: none;
    }

